
# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store

/frmMain/App.config
/DAL/bin/debug/*
/DAO/bin/debug/*
/frmMain/bin/debug/*

/DAL/obj/debug/*
/DAO/obj/debug/*
/frmMain/obj/debug/*